.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}
.error {
  height: 100vh;
}
.error_text {
  margin: 10px;
}
body::-webkit-scrollbar {
  display: none;
}
.absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.testing {
  display: none;
}

